.dashboard {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.main-card {
  width: 25em;
  margin-right: 1em;
  border-radius: 12px;
  margin-bottom: 1em;
  background-color: hsl(235, 46%, 20%);
}

.personal-details {
  color: hsl(236, 100%, 87%);
  background-color: hsl(246, 80%, 60%);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.pd-pic {
  border-radius: 50%;
  border: 2px solid white;
  width: 100%;
  height: auto;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.pd-name {
  font-weight: 300;
  font-size: 36px;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

@media screen and (max-width: 900px) {
  .dashboard {
    flex-direction: column;
    height: auto;
  }

  .main-card {
    height: auto;
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  .personal-details {
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .activities {
    flex-direction: column;
  }
}
