.v-navbar {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: block;
  padding: 12px 16px;
  color: hsl(235, 45%, 61%);
  border: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.nav-link:hover {
  color: hsl(236, 100%, 87%);
}

@media screen and (max-width: 1230px) {
  .v-navbar {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .nav-link {
    font-size: 20px;
  }
}
